/* Rubik */
@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

/* Noto Sans */
@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans/NotoSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans/NotoSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans/NotoSans-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans/NotoSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans/NotoSans-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans/NotoSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  font-display: block;
}
