.table {
  width: 100%;
  margin-bottom: ($spacer * 1.5);
  tr th {
    text-align: left;
    color: $grey80;
    border-bottom: 1px solid $grey20;
    padding: 4px;
    vertical-align: middle;
  }
  tr td {
    text-align: left;
    color: $grey100;
    border-bottom: 1px solid $grey20;
    padding: 5px 3px 6px;
    vertical-align: middle;
  }
}
